@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --normal-font-aze: clamp(14px, 2vw, 18px);
  --semi-big-font-size: font-size: clamp(20px, 3vw, 28px);
  --big-fon-size: clamp(28px, 4vw, 40px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;

}



body {
  height: 100vh;
  min-height: 100%;
  width: 100%;
}

/* HEARDER SECTION */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px clamp(15px, 5vw, 40px);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(228, 228, 228);
  backdrop-filter: blur(5px);
}

#header #navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  list-style: none;
}

#header #navbar ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  position: relative;
}

#header #navbar ul li a:hover,
#header #navbar ul li a.active {
  color: rgb(14, 176, 176);
}

#header #navbar ul li a::after {
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  top: 20px;
  left: 0;
  display: none;
  background-color: rgb(14, 176, 176);
}

#header #navbar ul li a:hover::after,
#header #navbar ul li a.actives {
  display: block;
}


/* HOME HERO SECTION */
#hero {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  height: 90vh;
  background-image: url(./img/hero4.png);
  background-size: cover;
  background-position: top 25% right 0;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.hero-text {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 1rem;
  margin-left: 150px;
}

#hero .hero-text button {
  display: inline-block;
  width: 200px;
  height: 50px;
  background-image: url(./img/button.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  color: rgb(14, 176, 176);
  font-weight: bold;
  font-size: clamp(14px, 2vw, 18px);
}

#hero .hero-text button:hover {
  cursor: pointer;
}

.slide {
  display: flex;
  width: 150px;
  overflow: hidden;
  gap: 5rem;
}


/* FEATURES SECTION */
.boxes {
  display: flex;
  gap: 1rem;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.box {
  width: 150px;
  border-radius: 2px;
  margin: 1rem 0 1rem 0;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid rgb(110, 105, 105) 1px;
  gap: 1rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transition: 0.10s ease-out;
}

.box:hover {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}

.fe-text {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  gap: 1rem;
}

.fe-text h5 {
  color: rgb(158, 163, 163);
}

.product-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem;
  width: 100%;
  margin: auto;
  gap: 3rem;
  margin-bottom: 5rem;
}

.p-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: solid 2px rgb(158, 163, 163);
  width: 300px;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  padding: 10px 10px 10px 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  transition: 0.30s ease;
}

.p-card:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.p-img-con {
  width: 270px;
}

.p-img-con img {
  width: 100%;
  border-radius: 1rem;
}

.p-text-con span {
  color: rgb(158, 163, 163);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 270px;
}

.mcart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  width: 270px;
}

.mcart h5 {
  color: rgb(10, 80, 10);
  font-weight: bold;
}

.mcart .cart {
  background-color: rgb(147, 184, 147);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

/* BANNER SECTION */
#banner {
  background-image: url(./img/banner/b2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 350px;
  margin-bottom: 5rem;
  margin-top: 5rem;
  gap: 2.5rem;
  padding: 2rem;
}

#banner h5,
#banner h2 {
  color: white;
}


h2 {
  font-size: clamp(28px, 4vw, 40px);

}

#banner h2 span {
  color: red;
}

#banner button {
  border: none;
  padding: 18px 30px;
  border-radius: 5px;
  font-weight: bold;
  font-size: small;
  transition: 0.30s ease;
}

#banner button:hover {
  cursor: pointer;
  background-color: rgb(27, 81, 27);
  color: white;
}

/* BANNERS SECTION */
#banners {
  display: flex;
  align-items: center;
  justify-content: center;
}

.two-banners {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.banner-one,
.banner-2 {
  background-image: url(./img/banner/b17.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 650px;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 3rem;
  gap: 1rem;
}

.banner-one .text,
.banner-2 .text {
  display: flex;
  flex-direction: column;
  color: white;
}

.banner-one .text h2,
.banner-2 .text h2 {
  font-size: clamp(20px, 3vw, 28px);
  color: white;
}

.banner-one .text h4,
.banner-2 .text h4 {
  color: white;
}

.banner-one .text button {
  width: 120px;
  height: 40px;
  margin-top: 1rem;
  border: solid 2px rgb(172, 164, 164);
  background-color: transparent;
  color: white;
  font-weight: bold;
  transition: 0.3s ease;
}


.banner-2 {
  background-image: url(./img/banner/b10.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 650px;
  height: 50vh;
}

.banner-2 .text button {
  width: 110px;
  height: 40px;
  margin-top: 1rem;
  background-color: transparent;
  color: white;
  border: solid 2px rgb(172, 164, 164);
  font-weight: bold;
  transition: 0.3s ease;
}


/* THREE BANNERS */
#bn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
}

#three-banners {
  display: flex;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.banner1 {
  background-image: url(./img/banner/b7.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 230px;
  width: 400px;
}

.banner1 .text,
.banner2 .text,
.banner3 .text {
  width: 400px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2rem;
}

.banner1 .text h2,
.banner3 .text h2 {
  font-size: clamp(20px, 3vw, 28px);
  font-weight: bold;
  color: white;
}

.banner2 .text h2 {
  font-size: clamp(20px, 3vw, 28px);
  font-weight: bold;
  color: white;
}

.banner1 .text h5,
.banner2 .text h5,
.banner3 .text h5 {
  color: rgb(202, 47, 47);
}

.banner2 {
  background-image: url(./img/banner/b4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 230px;
  width: 400px;
}

.banner3 {
  background-image: url(./img/banner/b18.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 230px;
  width: 400px;
}

/* SIGNUP SECTION */
#signup {
  background-color: rgb(3, 3, 65);
  height: 200px;
  width: 100%;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-signup {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.text-signup .text h1 {
  color: white;
  font-size: clamp(28px, 4vw, 40px);

}

.text-signup .text h5 {
  color: rgb(142, 136, 136);
  font-size: clamp(14px, 2vw, 18px);
}

.text-signup .text h5 span {
  color: rgb(202, 47, 47);
}

.signup-btn {
  width: 356.9px;
  background-color: white;
  height: 45.2px;
}

.signup-btn input {
  padding: 15px 30px 15px 30px;
  border: none;
}

.signup-btn button {
  padding: 15px 30px 15px 30px;
  border: none;
  background-color: green;
  color: white;
  font-weight: bold;
}

/* FOOTER SECTIOn */
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  flex-wrap: wrap;
}

.cami {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* .cami .f-contact {} */

.cami .f-contact h2 {
  font-size: x-large;
}

.cami .f-contact .aph {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px 0 0;
  margin-bottom: 1rem;
}

.cami .f-contact .aph h3 {
  color: rgb(58, 57, 56);
  font-size: large;
}

.cami .f-contact .aph span {
  font-size: small;
  color: rgb(105, 102, 102);
}

.ftipy h3 {
  margin-bottom: 0.5rem;
}

/* .f-about {} */

.f-about h2 {
  font-size: xx-large;
}

.f-about .adptc {
  display: flex;
  flex-direction: column;
  font-size: small;
  font-weight: bold;
  gap: 1rem;
  color: rgb(105, 102, 102);
}

/* .f-my-account {} */

.f-my-account h2 {
  font-size: xx-large;
}

.f-my-account .svmth {
  display: flex;
  flex-direction: column;
  font-size: small;
  font-weight: bold;
  gap: 1rem;
  color: rgb(105, 102, 102);
}

.f-install-app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.app-google {
  display: flex;
  gap: 0.5rem;
}

.f-install-app .app-google div {
  border: solid rgb(12, 137, 226) 2px;
  border-radius: 5px;
}

.f-install-app h2 {
  font-size: xx-large;
}

.f-install-app span {
  font-size: small;
  font-weight: bold;
  margin: 1rem;
  color: rgb(105, 102, 102);
}

.f-install-app .s-img {
  display: flex;
  flex-direction: column;
}

.copy-right {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: rgb(105, 102, 102);
  margin-bottom: 5rem;
}

#mobile-navbar {
  display: none;
}

#open-bar {
  display: none;
}

/* MEDIA QUERY SECTION */

@media(max-width:768px) {

  /* HAMBUGA MENU SECTION */
  #open-bar {
    display: flex;
  }

  #navbar {
    display: none;
  }

  #mobile-navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color: rgb(228, 228, 228);
    backdrop-filter: blur(5px);
    padding: 80px 0 0 20px;
    display: none;
    z-index: 99;
  }

  .nav-bg-color {
    background-color: transparent;
    backdrop-filter: blur(2px);
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    cursor: pointer;
    display: none;
  }

  #mobile-navbar ul {
    list-style: none;
  }

  #mobile-navbar li {
    padding: 1rem;
  }


  #mobile-navbar li a {
    text-decoration: none;
    color: black;
    font-weight: bold
  }

  #mobile-navbar .active {
    color: rgb(14, 176, 176);
  }

  #mobile-navbar li a:hover {
    color: rgb(14, 176, 176);
  }

  #mobile-navbar svg:hover {
    cursor: pointer;
  }

  #open-bar:hover {
    cursor: pointer;
  }

  /* BANNER SECTION */
  .two-banners {
    flex-wrap: wrap;
  }

  /* cards */
  .p-card {
    min-width: 400px;
    width: 400px;
  }

  .p-img-con {
    width: 370px;
  }

  .p-img-con img {
    width: 100%;
    border-radius: 1rem;
  }

  .p-text-con span {
    width: 370px;
  }

  .mcart {
    width: 370px;
  }

  .mcart h5 {
    color: rgb(10, 80, 10);
    font-weight: bold;
  }

  .mcart .cart {
    width: 50px;
    height: 50px;
  }


}

/* |||||||||||||||||| */
/* SHOP.HTML SECTION */
/* |||||||||||||||||| */
#shop-hero {
  background-image: url(./img/banner/b1.jpg);
  width: 100%;
  min-width: 100%;
  min-height: 40vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

#shop-hero .ss {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#shop-hero .ss h1 {
  font-size: var(--big-fon-size);
  font-weight: bold;
}

#shop-hero .ss h5 {
  font-size: var(--normal-font-aze);
  color: rgb(202, 195, 195);
}

#shop-cart-container {
  margin-top: 5rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.next-btn-con {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5rem;
}

.next-btn-con .btn {
  border: none;
  background-color: rgb(27, 81, 27);
  padding: 10px 15px;
  color: white;
  font-size: var(--normal-font-aze);
  border-radius: 5px;
  cursor: pointer;
}

.next-btn-con button {
  border: none;
  background-color: rgb(27, 81, 27);
  padding: 5px 10px;
  color: white;
  font-size: var(--normal-font-aze);
  border-radius: 5px;
  cursor: pointer;
}

/* |||||||||||||||||| */
/* BLOG.HTML SECTION */
/* |||||||||||||||||| */

#blog-hero {
  background-image: url(./img/banner/b19.jpg);
  width: 100%;
  min-width: 100%;
  min-height: 40vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

#blog-hero .ss {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#blog-hero .ss h1 {
  font-size: var(--big-fon-size);
  font-weight: bold;
}

#blog-hero .ss h5 {
  font-size: var(--normal-font-aze);
  color: rgb(202, 195, 195);
}

/* BLOG CONTAINER SECTION */
#blog-blogs-con {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5rem;
  padding: 0 2rem;
}

#blog-blogs-con .blog-con {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5rem;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

#blog-blogs-con .blog-con .blog-img {
  height: 300px;
  width: 500px;
}

#blog-blogs-con .blog-con .blog-img img {
  width: 500px;
  height: 300px;
}

#blog-blogs-con .blog-con .blog-text {
  height: 300px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#blog-blogs-con .blog-con .blog-text h1 {
  font-size: var(--normal-font-aze);
}

#blog-blogs-con .blog-con .blog-text p {
  font-size: var(--normal-font-aze);
  display: flex;
  flex-wrap: wrap;
}

#blog-blogs-con .blog-con .blog-text a {
  text-decoration: none;
  color: black;
  font-size: small;
  font-weight: bold;
}

#blog-blogs-con .blog-con .blog-text a:hover {
  color: rgb(14, 176, 176);
}

/* |||||||||||||||||| */
/* ABOUT.HTML SECTION */
/* |||||||||||||||||| */

#about-hero {
  background-image: url(./img/about/banner.png);
  width: 100%;
  min-width: 100%;
  min-height: 40vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about-hero .ss {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#about-hero .ss h1 {
  font-size: var(--big-fon-size);
  font-weight: bold;
}

#about-hero .ss h5 {
  font-size: var(--normal-font-aze);
  color: rgb(202, 195, 195);
}

/* WHO WE ARE SECTION */
#who-we-are {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  gap: 5rem;
  flex-wrap: wrap;
}

.wwa-img {
  width: 500px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wwa-img img {
  width: 500px;
  height: 400px;
}

.wwa-text {
  width: 500px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.wwa-text h1 {
  font-size: var(--big-fon-size);
}

.wwa-text p {
  font-size: var(--normal-font-aze);
}

.wwa-text a {
  text-decoration: dotted;
}

.wwa-text marquee {
  background-color: grey;
}

/* DOWNLOAD OUR APP SECTION */
#download {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.download-con {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 700px;
  gap: 1rem;
}

.download-con h1 {
  font-size: var(--big-fon-size);
}

video {
  width: 100%;
  border-radius: 1rem;
}

/* |||||||||||||||||| */
/* ABOUT.HTML SECTION */
/* |||||||||||||||||| */

/* conatct us map section */
#contact-us-map {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  gap: 5rem;
  flex-wrap: wrap;
}

.get-in-touch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 500px;
  height: 400px;
  gap: 1rem;
}

.get-in-touch h6 {
  font-size: var(--semi-big-font-size);
  color: rgb(196, 188, 188);
}

.get-in-touch h1 {
  font-size: var(--normal-font-aze);
}

.get-in-touch span {
  font-size: var(--normal-font-aze);
}

.map {
  width: 500px;
  height: 400px;
}

/* from section */
#form-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: solid 2px rgb(149, 146, 146);
  margin-top: 5rem;
  width: 90%;
  margin: auto;
  padding: 5rem;
  flex-wrap: wrap;
  gap: 5rem;
  margin-bottom: 5rem;
}

#form-section form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form h6 {
  font-size: var(--normal-font-aze);
  font-weight: 100;
}

form h1 {
  font-size: var(--big-fon-size);
}

form input {
  padding: 1rem;
}

form textarea {
  height: 200px;
  padding: 1rem;
}

form button {
  background-color: green;
  padding: 1rem;
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 2px;
  color: white;
  font-size: var(--normal-font-aze);
  font-weight: bold;
  cursor: pointer;
}

.profile-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
}

.img-text1 {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.img-text1 .text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.img-text1 h2 {
  font-size: var(--semi-big-font-size);
}

.img-text1 h6 {
  color: gray;
}

/* |||||||||||||||||| */
/* SPRODUCT.HTML SECTION */
/* |||||||||||||||||| */
#sproduct {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 0 5rem;
  gap: 5rem;
  flex-wrap: wrap;
}

.sproduct-images {
  width: 500px;
}

.sproduct-images img {
  width: 100%;
}

.small-img {
  display: flex;
  gap: 5px;
}

.sproduct-text {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sproduct-text span {
  font-size: var(--big-fon-size);
  font-weight: bold;
}

.sproduct-text select {
  width: 150px;
  padding: 10px;
  border: 2px black solid;
  cursor: pointer;
}

.sproduct-text .btn-input input {
  width: 50px;
  height: 50px;
  padding: 5px;
  cursor: pointer;
}

.sproduct-text .btn-input button {
  width: 200px;
  background-color: green;
  color: white;
  border-radius: 5px;
  height: 50px;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

.sproduct-text .btn-input button:hover {
  background-color: rgb(14, 131, 14);
}

/* CART section */
#cart {
  margin-top: 5rem;
}

#cart div {
  width: 99%;
  margin: auto;
}

.h-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 2px black;
  border-top: solid 2px black;
  padding: 1rem;
  width: 100%;
  gap: 1rem;
}

.b-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  flex-wrap: nowrap;
  gap: 1rem;
}

span input {
  width: 50px;
  height: 40px;
  text-align: center;
}

span {
  width: 300px;
}

span img {
  width: 60px;
}

/* coupon and checkout section */
#cc {
  margin-top: 5rem;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 5rem;
  flex-wrap: wrap;
}

.coupon-con {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.coupon-con input {
  padding: 0.5rem;
}

.coupon-con button {
  padding: 0.7rem;
  border-radius: 3px;
  border: none;
  background-color: green;
  cursor: pointer;
  color: white;

}

.cardt-con {
  border: black solid 2px;
  padding: 3rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.tble div {
  display: flex;
  flex-wrap: wrap;
}

.tble div h6 {
  border: black solid 2px;
  padding: 0.5rem;
  width: 200px;
}

.cardt-con button {
  padding: 0.7rem;
  border-radius: 3px;
  border: none;
  background-color: green;
  color: white;
  width: 200px;
  cursor: pointer;
}

.copy-right span {
  width: 100%;
  text-align: center;
  padding-bottom: 5rem;
  padding-top: 5rem;
}

/* PAYMENT SECTION */
#payment-index {
  background-color: #f3f3f3;
}

.ag-con {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.ag-con img {
  width: 64px;
}

#card .card-con {
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: white;
  border-radius: 1rem;
  padding: 3rem;
}

.or {
  display: flex;
  margin-bottom: 1rem;
}

.inputs-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.inputs-con input {
  height: 30px;
  border-radius: 5px;
  background-color: #f3f3f3;
  padding: 0.5rem;
}

.ex-cvv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
}

.inputs-con select {
  height: 30px;
  border-radius: 5px;
  background-color: #f3f3f3;
  padding: 0.5rem;
}

.inputs-con a {
  height: 30px;
  border-radius: 5px;
  background-color: green;
  padding: 0.5rem;
  text-decoration: none;
  color: white;
  text-align: center;
  width: 200px;
  font-weight: bold;
}

/* Suceesful pay section */
.successful-pop {
  display: flex;
  flex-direction: column;
  top: 15%;
  left: 50%;
  position: absolute;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: white;
  border-radius: 1rem;
  padding: 3rem;
  border: solid black 2px;
  width: 250px;
  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
  transition: 0.75s ease-out;
}

.open {
  visibility: visible;
  top: 20%;
  left: 34%;
  transform: translate(50%, 50%) scale(1);
}

#successful-pay img {
  width: 100px;
}

#pay {
  height: 30px;
  border-radius: 5px;
  background-color: green;
  padding: 0.5rem;
  text-decoration: none;
  color: white;
  text-align: center;
  width: 200px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.successful-pop a {
  height: 30px;
  border-radius: 5px;
  background-color: green;
  padding: 0.5rem;
  text-decoration: none;
  color: white;
  text-align: center;
  width: 200px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

#pay:hover,
.successful-pop a:hover {
  background-color: rgb(29, 172, 29);
}

.cardno-div {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 7px;
}

.cardno-div span {
  color: red;
  font-size: small;
}

.cardname-div {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 7px;
}

.cardname-div span {
  color: red;
  font-size: small;
}

.cardcvv-div {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 7px;
}

.cardcvv-div span {
  color: red;
  font-size: small;
}